@import '~ant-design-vue/dist/antd.less';

@font-family: 'Roboto', 'Open Sans', sans-serif;


.ant-btn {
  font-size: 14px;
}

.ant-form {
  .ant-form-item {
    margin-bottom: 2px;

    .ant-form-item-label{
      padding: 0;
    }

    .ant-select-disabled,
    .ant-input-disabled,
    .ant-input-number-disabled {
      color: rgba(0, 0, 0, 0.65);
    }

    .ant-input-number {
      width: 150px;
    }
  }
}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-left{
  float: left
}

.float-right{
  float: right
}

.float-none{
  float: none
}

@selectors: 4, 8, 12, 16, 20, 24, 28, 32, 36, 48, 72, 96;
each(@selectors, {
  .mb-@{value}{
    margin-bottom: (@value) * 1px;
  }
  .mt-@{value}{
    margin-top: (@value) * 1px;
  }
  .ml-@{value}{
    margin-left: (@value) * 1px;
  }
  .mr-@{value}{
    margin-right: (@value) * 1px;
  }
});
