@import '~ant-design-vue/dist/antd.less';

@font-family: 'Roboto', 'Open Sans', sans-serif;


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
